
<div  class="container container_popular">

    <div ng-init="getPopularRecipes()">

        <div ng-repeat="popularRecipe in popularRecipes" class="panel panel-default">

            <div class="recipe_title well well-sm">{{ popularRecipe.title}}</div>

            <img ng-src="{{ popularRecipe.image }}" width="190" height="100"/>

            <div id="post_date_recipe">Posted on <br/> {{ popularRecipe.create_date }} </div>

            <div class="ingredients">ingredients</div>

            <div class="recipe_description"> {{ popularRecipe.description | limitTo : 85 }} </div>

            <div id="read_recipe"><a href="#!/recipes/details/{{ popularRecipe._id }}">Read More.. </a></div>

        </div>  

    </div> 

</div>    