<div  class="container container_recipe_details">

    <div  ng-init="getRecipe()"  class="panel panel-default">

        <div class="recipe_title well well-sm">{{ recipe.title }}</div>

        <img ng-src="{{ recipe.image }}" width="230" height="150"/>

        <div id="post_date_recipe">Posted on &nbsp;{{ recipe.create_date }}</div>

        <div class="recipe_description">{{ recipe.description }}</div>

        <div class="article_edit"><span class="edit_article"><a href="#!/recipes/edit/{{ recipe._id }}">Edit</a></span> | <span class="delete_article" ng-click="removeRecipe(recipe._id)">Delete</span></div>

    </div>

</div>